html, body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, rgb(5, 77, 121), rgb(24, 26, 27));
  color: #d8d4cf;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard syntax */
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard syntax */
}

.nav a {
  text-decoration: none;
  color: #d8d4cf;
  font-size: 16px;
}

.nav a.am {
  margin-right: 20px;
}

.nav a.an {
  margin-right: 20px;
  color: #b47d5b;
}

.nav a.a {
  color: #b47d5b;
}

.slider {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: auto;
}

.details {
  padding: 20px;
  text-align: center;
}